
<!DOCTYPE html>
<html ng-app="webapp" ng-strict-di ng-cloak style="height: 100%;">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <link rel="shortcut icon" type="image/ico" href="~/images/logo.png" />

    <title>Web App</title>

    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700' rel='stylesheet' type='text/css'>

    <!-- Primary vendor style -->
    <link href="~/Plugins/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Plugins/fontawesome/css/font-awesome.min.css" rel="stylesheet" />

    <script src="~/Plugins/jquery/dist/jquery.js"></script>

    <script src="~/Plugins/angular/angular-1.5.js"></script>
    <script src="~/Plugins/jquery/jquery-ui.min.js"></script>
    <script src="~/Plugins/jquery/jquery.ui.touch-punch.min.js"></script>
    <script src="~/Plugins/lodash/dist/lodash.min.js"></script>
    <link href="~/Plugins/bootstrap-markdown/bootstrap-markdown.min.css" rel="stylesheet" />
    <script src="~/Plugins/bootstrap-markdown/markdown.js"></script>
    <script src="~/Plugins/bootstrap-markdown/bootstrap-markdown.js"></script>
    <script src="~/Plugins/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="~/Plugins/angular-bootstrap/ui-bootstrap-tpls.js"></script>

    <link href="~/Plugins/angular-ui-clock/angular-clock.css" rel="stylesheet" />

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@8"></script>
    <!-- DEFAULT style -->
    @Styles.Render("~/Content/css")
    @Styles.Render("~/bundles/plugins/css")


    <!-- Add local styles, mostly for plugins css file -->
    @if (IsSectionDefined("Styles"))
    {@RenderSection("Styles", required: false)}
</head>
<body>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    @RenderBody()

    <!-- Directorio Raiz del Proyecto para las llamadas $http -->
    <script>var webroot = "@Url.Content("~/")";</script>

    <!-- Section for main scripts render -->
    
@*@Scripts.Render("~/bundles/angular/js")*@
    
    
    @Scripts.Render("~/bundles/bootstrap/js")
    @Scripts.Render("~/bundles/plugins/js")
    @Scripts.Render("~/bundles/webApp/js")

    <!-- Handler for local scripts -->
    @RenderSection("scripts", required: false)
</body>
</html>
