
@{
    ViewBag.Title = "lateralSuperior";
}

    <nav class="navbar navbar-expand-lg navbar-light bg-dark static-top  bg-dark vw-100" id="nav2">
        
        <button class="navbar-toggler text-white" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-2 bg-dark" id="navbarNavDropdown">
            <ul class="navbar-nav">

                <li class="nav-item">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h6><strong class="text-white"><i class="fas fa-chart-line mr-1"></i>Acciones</strong></h6>
                    </a>
                    <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdownMenuLink1">
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("Perfil", "Home")"><i class="fas fa-user mr-2"></i>Mi Perfil</a>
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("Index", "Home")"><i class="fas fa-user-clock mr-2"></i>Mis Fichajes</a>
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("Agenda", "Home")"><i class="fas fa-book-open mr-2"></i>Mi Agenda</a>  
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("Vacaciones", "Home")"><i class="fas fa-plane-departure mr-2"></i>Mis Vacaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <h6><strong class="text-white"><i class="fas fa-briefcase mr-1"></i>Empresa</strong></h6>
                    </a>
                    <div class="dropdown-menu bg-dark border-white" aria-labelledby="navbarDropdownMenuLink2">
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("Empleados", "Home")"><i class="fas fa-users mr-2"></i>Empleados</a>
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("FichajesEmpleados", "Home")"><i class="fas fa-user-clock mr-2"></i>Fichajes</a>
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("AgendaEmpleados", "Home")"><i class="fas fa-book-open mr-2"></i>Agenda</a>
                        <a class="dropdown-item text-white bg-dark" role="button" target="_self" href="@Url.Action("VacacionesEmpleados", "Home")"><i class="fas fa-plane-departure mr-2"></i>Vacaciones</a>
                    </div>
                </li>
                <li class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle mr-2 text-white border-white" href="#" id="navbardrop" data-toggle="dropdown">
                        <h6><strong class="text-white"><i class="far fa-user-circle mr-1"></i>{{vm.session.nombre}} {{vm.session.primer_apellido}} {{vm.session.segundo_apellido}}</strong></h6>
                    </a>
                    <div class="dropdown-menu  border-white dropdown-menu-md-right bg-dark">
                        
                        <a class="dropdown-item text-white bg-dark" target="_self" href="@Url.Action("Logout", "Account")"> Cerrar Sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>
